.home{
    .header{
        position: fixed;
        width: calc(100%);
        z-index: 1;
        box-shadow: 0 0 5px ;
        .h-title{
            position: absolute;
            left: 40%;
            font-size: 20px;
            font-weight: bolder;
        }
        .fold-switch{
            display: inline-block;
            font-size: 20px;
            margin-left: 10px;
        }
    }
    
    
   
}
.h-exit:hover{
    cursor: pointer;
    color: rgb(72, 154, 230);
}