.home{
    .h-top{
        width: 100%;
        height: 50px;
        padding: 15px 30px;
    }
    .fold-switch{
        float: left;
        font-size: 20px;
    }
    .h-bottom{
        padding: 4px 10px 0;
        width: 100%;
        height: 32px;
    }
    .h-title{
        position: relative;
        right: -450px;
        top:10px;
        display: inline-block;
        font-size: 20px;
        font-weight: bolder;
    }
    .h-exit:hover{
        cursor: pointer;
        color: rgb(72, 154, 230);
    }
    .l-head{
        float: left;
        height: 100%;
        width: 1020px;
        /* background-color: red; */
    }
}