.user {
    // height: 100%vh;

    .title {
        position: relative;
        font-size: 16px;
        font-weight: bolder;
    }

    .title::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 24px;
        left: -24px;
        top: 1px;
        background-color: #27a7ca;
    }

    .user-content {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 64px;

        &_img {
            width: 10% !important;
            margin-right: 10px;
        }

        &_form {
            width: 28%;
            .ant-input-affix-wrapper{
                // display: inline-block;
                width: 85%;
            }
            label{
                margin-right: 10px;
            }
            .itm{
                margin-bottom: 20px;
            }
        }

        &_img,
        &_form {
            float: left;
        }
    }



}